<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <!-- Moras IP adresu servisa uneti! -->
      <endpoint name="Service.IService"
                address="net.tcp://localhost:50030/IService" 
                binding="netTcpBinding"
                contract="Contracts.IService" />
    </client>
  </system.serviceModel>
</configuration>