<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService" >
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!-- Moras IP adresu servisa uneti! -->
      <endpoint name="Contracts.IService.ServerOne"
                address="net.tcp://10.1.212.165:50030/IService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService"
                contract="Contracts.IService" />

      <!-- Moras IP adresu servisa uneti! -->
      <endpoint name="Contracts.IService.ServerTwo"
                address="net.tcp://localhost:50031/IService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService"
                contract="Contracts.IService" />

      <!-- Moras IP adresu servisa uneti! -->
      <endpoint name="Contracts.IService.ServerThree"
                address="net.tcp://localhost:50032/IService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService"
                contract="Contracts.IService" />
    </client>
  </system.serviceModel>
</configuration>