<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <!-- Data Service -->
      <service name="WCFServer.DataAccessServer">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000/IDataAccessServer" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="WCFCommon.IDataAccessServer" />
      </service>
    </services>
  </system.serviceModel>
  
</configuration>