<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <!-- Data Service -->
      <service name="Service.ServiceApp" behaviorConfiguration="">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:50030/IService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="Contracts.IService" name="WindowsClientOverTcp" />
      </service>
    </services>
       
    <!-- <client>
      <endpoint name="Contracts.IAuditService"
                binding ="netTcpBinding"
                contract="Contracts.IAuditService" />      
    </client>-->

  </system.serviceModel>  

</configuration>