<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <!-- Data Service -->
      <service name="Service.ServiceApp" behaviorConfiguration="">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:50030/IService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="Contracts.IService" name="WindowsClientOverTcp" />
      </service>
    </services>
    
    <!-- Ukljuciti sertifikate! -->
    
    <client>
      <!-- Moras IP adresu audit-a uneti! -->
      <endpoint name="Contracts.IAuditService"
                address="net.tcp://localhost:50050/IAuditService"
                binding="netTcpBinding"
                behaviorConfiguration="endpointCredentialBehavior"
                contract="Contracts.IAuditService" />
      
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointCredentialBehavior">
          <clientCredentials>
            <clientCertificate                            
                               findValue="service1"
                               storeLocation="LocalMachine"
                               storeName="My"
                               x509FindType="FindBySubjectName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <!-- configure wsHttpbinding with Transport security mode  
                   and clientCredentialType as Certificate -->
        <binding name="Binding1">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
  </system.serviceModel>  

</configuration>